<div class="imagen-fondo-principal">
  <app-menu-principal [cantidadAgregados]="cantidadAgregados" ></app-menu-principal>
  <div class="panel-detalle-producto panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">{{producto.nombre}}</span>
    </div>
    <div class="panel-body">
      <div class="container-info">
        <div class="imagen-producto">
          <img src="./assets/img/{{producto.imagen}}" alt="{{producto.nombre}}">
        </div>
        <div class="info-producto">
          <ul>
            <li><label>Nombre:&nbsp;</label>{{producto.nombre}}</li>
            <li><label>Precio:&nbsp;</label>${{producto.precio}}</li>
            <li><label>Unidades Disponibles:&nbsp;</label>{{producto.unidadesDisponibles}}</li>
          </ul>
        </div>
      </div>
      <a href="javascript:;" (click)="goBack()" class="boton-volver btn btn-default">Atras</a>
    </div>
  </div>
</div>
