<div class="panel-item-producto panel panel-default">
  <div class="panel-body">
    <img class="imagen-producto" src="./assets/img/{{imagen}}" alt="">
    <h4>Nombre</h4>
    <div>
      <label for="">Precio:</label><span>$200</span>
    </div>
    <div>
      <label for="">Unidades Disponibles:</label><span>46</span>
    </div>
    <div>
      <button type="button" class="btn btn-primary">Ver Mas</button>
      <button type="button" class="btn btn-warning">Añadir</button>
      <input type="number" name="cantidadAgregar" value="">
    </div>
  </div>
</div>
