<app-menu-principal></app-menu-principal>
<div class="panel-catalogo-productos panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">Catálogo de productos</span>
    <div class="formulario-buscar navbar-right">
      <label for="buscador">¿Que estas buscando?</label>
      <input type="text" (ngModelChange)="buscarProductos($event)" [ngModel]="mymodel"/>
    </div>
  </div>
  <div class="panel-body">
    <div class="item-producto" *ngFor="let producto of productosBuscados">
      <app-item-producto [producto]="producto" ></app-item-producto>
    </div>
  </div>
</div>
