.panel-catalogo-productos{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

.formulario-buscar *{
    display: block;
    margin-right: 15px;
}

.panel-catalogo-productos .panel-heading {
    height: 78px;
}

.panel-body{
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.item-producto{
    width: 31%;
    margin: 10px;
}