/* You can add global styles to this file, and also import other style files */
body, h1{
    margin: 0px;
}
.panel-catalogo-productos, .panel-detalle-producto{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}
.imagen-fondo-principal{
    background-image: url('./assets/img/main-fondo.jpg');
    height: 100%;
}
