<div class="imagen-fondo-principal">
  <app-menu-principal></app-menu-principal>
  <div class="panel-detalle-producto panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">Carrito de Compras</span>
    </div>
    <div class="panel-body">
      <div class="container-info">
        <div class="lista-pedidos">
          <ul class="media-list">
            <li class="media" *ngFor="let producto of productosEnCarrito">
              <a class="pull-left" href="#">
                <img class="media-object imagen-pedidos" src="./assets/img/{{producto.imagen}}" alt="{{producto.nombre}}">
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{producto.nombre}}</h4>
              </div>
            </li>
          </ul>
        </div>
        <div class="total-pedido">
          
        </div>
      </div>
      <a href="javascript:;" (click)="goBack()" class="boton-volver btn btn-default">Atras</a>
    </div>
  </div>
</div>
